.char {
	width: 100px;
	height: 150px;
	background-color: blue;
	display: inline-block;
	margin-left: 10px;
}

.enemy {
	border-color: red;
	border-style: solid;
	border-width: 10px;
}

.defender {
	border-color: black;
	border-style: solid;
	border-width: 10px;
}

.char {
	color: white;
	text-align: center;
}